skrub==0.6.1
plotly==6.3.0
#graphviz==0.21
networkx==3.5
litellm==1.76.1

#pip install --config-settings="--global-option=build_ext" \
#            --config-settings="--global-option=-I$(brew --prefix graphviz)/include/" \
#            --config-settings="--global-option=-L$(brew --prefix graphviz)/lib/" \
#            pygraphviz

